
cert-manager:
  cainjector:
    nodeSelector:
      app.kinetica.com/pool: infra
  nodeSelector:
    app.kinetica.com/pool: infra
  startupapicheck:
    nodeSelector:
      app.kinetica.com/pool: infra
  webhook:
    nodeSelector:
      app.kinetica.com/pool: infra

environment: onPrem

global:
  defaultStorageClass: standard

gpu-operator:
  driver:
    nvidiaDriverCRD:
      nodeSelector:
        app.kinetica.com/pool: compute
  operator:
    nodeSelector:
      app.kinetica.com/pool: infra

ingress-nginx:
  admissionWebhooks:
    patch:
      nodeSelector:
        app.kinetica.com/pool: infra
  controller:
    admissionWebhooks:
      enabled: true
      patch:
        enabled: true
        image:
          digest: ""
          repository: k8s.gcr.io/ingress-nginx/kube-webhook-certgen
          tag: v1.1.1
    allowSnippetAnnotations: true
    extraArgs:
      publish-status-address: localhost
    hostNetwork: true
    hostPort:
      enabled: true
    nodeSelector:
      app.kinetica.com/pool: infra
      ingress-ready: "true"
    publishService:
      enabled: false
    service:
      type: NodePort
    terminationGracePeriodSeconds: 0
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
        operator: Equal
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Equal
  defaultBackend:
    nodeSelector:
      app.kinetica.com/pool: infra
  tcp:
    1389: gpudb/openldap:1389
    4317: kinetica-system/otel-collector:4317
    5432: gpudb/kinetica-sample-rank0-service:5432
    9002: gpudb/kinetica-sample-rank0-service:9002
    9191: gpudb/kinetica-sample-rank0-service:9191
    9300: gpudb/kinetica-sample-rank0-service:9300

kineticacluster:
  gpudbCluster:
    clusterName: cluster0
    config:
      tieredStorage:
        globalTier:
          colocateDisks: true
        persistTier:
          default:
            limit: 50Gi
            provisioner: rancher.io/local-path
            volumeClaim:
              spec:
                storageClassName: standard
    hasPools: true
  install: true
  name: kinetica-kind-sample
  stats:
    pool: compute

networkPolicies:
  install: false

nodeSelector:
  app.kinetica.com/pool: infra

openldap:
  nodeSelector:
    app.kinetica.com/pool: infra

provider: kind

support-bundle:
  configMap:
    cluster: cluster0
  nodeSelector:
    app.kinetica.com/pool: infra

supportBundle:
  install: true

upsertKineticaCrds:
  enable: false

workbench:
  nodeSelector:
    app.kinetica.com/pool: infra
  storageClass: standard
