
cert-manager:
  cainjector:
    nodeSelector:
      app.kinetica.com/pool: infra
  nodeSelector:
    app.kinetica.com/pool: infra
  startupapicheck:
    nodeSelector:
      app.kinetica.com/pool: infra
  webhook:
    nodeSelector:
      app.kinetica.com/pool: infra

environment: onPrem

global:
  defaultStorageClass: managed-premium

gpu-operator:
  driver:
    nvidiaDriverCRD:
      nodeSelector:
        app.kinetica.com/pool: compute
  operator:
    nodeSelector:
      app.kinetica.com/pool: infra

ingress-nginx:
  admissionWebhooks:
    patch:
      nodeSelector:
        app.kinetica.com/pool: infra
  controller:
    nodeSelector:
      app.kinetica.com/pool: infra
    service:
      annotations:
        #service.beta.kubernetes.io/azure-dns-label-name: my-kinetica-cluster-dns-prefix
        service.beta.kubernetes.io/azure-load-balancer-health-probe-request-path: /healthz
  defaultBackend:
    nodeSelector:
      app.kinetica.com/pool: infra

kineticacluster:
  gpudbCluster:
    clusterName: cluster0
    config:
      tieredStorage:
        globalTier:
          colocateDisks: true
        persistTier:
          default:
            limit: 50Gi
            parameters:
              cachingmode: ReadOnly
              kind: Managed
              storageaccounttype: Premium_LRS
            provisioner: disk.csi.azure.com
            volumeClaim:
              spec:
                storageClassName: managed-premium
    hasPools: true
  install: true
  name: cluster0
  stats:
    pool: compute

networkPolicies:
  install: false

nodeSelector:
  app.kinetica.com/pool: infra

openldap:
  nodeSelector:
    app.kinetica.com/pool: infra

provider: eks

support-bundle:
  configMap:
    cluster: cluster0
  nodeSelector:
    app.kinetica.com/pool: infra

supportBundle:
  install: true

upsertKineticaCrds:
  enable: false

workbench:
  nodeSelector:
    app.kinetica.com/pool: infra
  storageClass: managed-premium
