
cert-manager:
  cainjector:
    nodeSelector:
      app.kinetica.com/pool: infra
  nodeSelector:
    app.kinetica.com/pool: infra
  startupapicheck:
    nodeSelector:
      app.kinetica.com/pool: infra
  webhook:
    nodeSelector:
      app.kinetica.com/pool: infra

environment: saas

global:
  defaultStorageClass: gp3

gpu-operator:
  driver:
    enabled: true
    nvidiaDriverCRD:
      nodeSelector:
        app.kinetica.com/pool: compute
  mig:
    strategy: single
  operator:
    nodeSelector:
      app.kinetica.com/pool: infra
  toolkit:
    enabled: true

ingress-nginx:
  admissionWebhooks:
    patch:
      nodeSelector:
        app.kinetica.com/pool: infra
  controller:
    nodeSelector:
      app.kinetica.com/pool: infra
    service:
      annotations:
        service.beta.kubernetes.io/aws-load-balancer-alpn-policy: HTTP2Preferred
        service.beta.kubernetes.io/aws-load-balancer-backend-protocol: tcp
        service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout: 3600
        service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: true
        service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
        service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
        service.beta.kubernetes.io/aws-load-balancer-ssl-cert: ""
        service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "443"
        service.beta.kubernetes.io/aws-load-balancer-type: nlb
  defaultBackend:
    nodeSelector:
      app.kinetica.com/pool: infra

kineticacluster:
  gpudbCluster:
    clusterName: cluster-001
    config:
      tieredStorage:
        globalTier:
          colocateDisks: true
        persistTier:
          default:
            limit: 50Gi
            parameters:
              type: gp3
            provisioner: ebs.csi.eks.amazonaws.com
            volumeClaim:
              spec:
                storageClassName: gp3
    hasPools: true
  install: false
  name: cluster-001
  stats:
    pool: compute

networkPolicies:
  install: false

nodeSelector:
  app.kinetica.com/pool: infra

openldap:
  nodeSelector:
    app.kinetica.com/pool: infra
  persistence:
    storageClass: cluster-001-storageclass

provider: eks

support-bundle:
  configMap:
    cluster: cluster0
  nodeSelector:
    app.kinetica.com/pool: infra

supportBundle:
  install: true

upsertKineticaCrds:
  enable: false

workbench:
  install: false
  nodeSelector:
    app.kinetica.com/pool: infra
  storageClass: gp3
