
environment: onPrem

global:
  defaultStorageClass: local-path

gpuOperator:
  install: true

ingress-nginx:
  controller:
    allowSnippetAnnotations: true
    config:
      use-forwarded-headers: "true"
    hostNetwork: true
    hostPort:
      enabled: true
    kind: DaemonSet
    metrics:
      enabled: true
      serviceMonitor:
        enabled: false
    publishService:
      enabled: false
    service:
      enabled: false

kineticacluster:
  gpudbCluster:
    clusterName: cluster0
    config:
      tieredStorage:
        globalTier:
          colocateDisks: true
        persistTier:
          default:
            limit: 50Gi
            provisioner: rancher.io/local-path
            volumeClaim:
              spec:
                storageClassName: local-path
    dbRegistryRepositoryTag:
      repository: kinetica-k8s-cuda
    resources:
      limits:
        nvidia.com/gpu: "1"
      requests:
        nvidia.com/gpu: "1"
  install: true
  name: cluster0

networkPolicies:
  install: false

provider: k3s

support-bundle:
  configMap:
    cluster: cluster0

supportBundle:
  install: true

upsertKineticaCrds:
  enable: false

workbench:
  storageClass: local-path
